@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
}
.weather-container {
    background: #f0f8ff;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .weather-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .weather-header h2 {
    margin: 0;
    color: #333;
  }
  
  .weather-header p {
    margin: 5px 0;
    color: #666;
  }
  
  .weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .weather-details {
    text-align: center;
  }
  
  .weather-details p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .temperature {
    font-size: 24px;
    font-weight: bold;
    color: #ff5722;
  }
  
  .condition, .humidity, .wind, .feelslike {
    font-size: 18px;
    color: #333;
  }
  